@model project_for_nothing_1.Models.Board
@{
	ViewData["Title"] = "Create Board";
}

<h2> Create Board</h2>
<form method="post" asp-action="Create">
	@Html.AntiForgeryToken()

	<div class="mb-3">
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control"/>
		
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>


	<div class="mb-3">
		<label asp-for="ProjectId" class="form-label">Project</label>
		<select asp-for="ProjectId" asp-items="ViewBag.ProjectId" class="form-select"></select>
		<span asp-validation-for="ProjectId" class="text-danger"></span>
	</div>

	<button class="btn btn-primary" type="submit">Create</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>








